<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chetunewretrofitproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChetuNewRetrofitProject"
        tools:targetApi="31">
        <activity
            android:name=".modules.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.TVShowsActivity"
            android:exported="false" />
        <activity
            android:name=".modules.PopularPersonActivity"
            android:exported="false" />
        <activity
            android:name=".modules.MoviesActivity"
            android:exported="false" />
        <activity
            android:name=".modules.TodoActivity"
            android:exported="false" />
        <activity
            android:name=".modules.UserActivity"
            android:exported="false" />
        <activity
            android:name=".modules.CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".modules.AlbumActivity"
            android:exported="false" />
        <activity
            android:name=".modules.PhotosActivity"
            android:exported="false" />
        <activity
            android:name=".modules.PostActivity"
            android:exported="false" />
        <activity
            android:name=".modules.TMDBActivity"
            android:exported="false" />
        <activity
            android:name=".modules.QuotesActivity"
            android:exported="false" />
        <activity
            android:name=".modules.FackStoreActivity"
            android:exported="false" />
        <activity
            android:name=".modules.JsonPlaceHolderActivity"
            android:exported="false" />
        <activity
            android:name=".modules.MainActivity"
            android:exported="false">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>